// Breakpoints
$xs: 450px;
$sm: 781px;
$md: 960px;
$lg: 1200px;

// Colors

$white: #ffffff;
$black: #000000;
$charcoal: #222222;
$dark: #1f2c30;
$darkblue: #002E55;
$red: #e31837;
$grey: #D3D3D3;
// $yellow: #ffd65b;
$yellow: #ffc217;


// Fonts

$sans1: 'Scada', sans-serif;
$sans2: 'Sarala', sans-serif;
$sans3: 'Pontano Sans', sans-serif;
$serif1: 'Libre Baskerville', serif;
$serif2: 'Tinos', serif;
