// Breakpoints
$xs: 570px;
$sm: 720px;
$md: 960px;
$lg: 1200px;

// Colors

$white: #ffffff;
$black: #000000;
$charcoal: #222222;
$dark: #1f2c30;
$darkblue: #002E55;
$red: #e31837;
$grey: #D3D3D3;
// $yellow: #ffd65b;
$yellow: #ffc217;


$sans2: 'Work Sans', sans-serif;
$sans1: 'Khula', sans-serif;
$sans3: 'Livvic', sans-serif;
$serif1: 'Libre Baskerville', serif;
$serif2: 'Tinos', serif;
