// Breakpoints
$xs: 450px;
$sm: 720px;
$md: 960px;
$lg: 1200px;

// Colors

$white: #ffffff;
$black: #000000;
$darkblue: #002e56;
$red: #e31837;

// Fonts

$sans1: 'Merriweather Sans', sans-serif;
$sans2: 'Raleway', sans-serif;
$serif1: 'Libre Baskerville', serif;
$serif2: 'Tinos', serif;
