
.main-header {
  // height: 300px;
  // background: url(../images/dei_hero.jpg) no-repeat center center;
  background-color: $black;
  color: $white;
  position: relative;
  z-index: 2;
}

.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 53px;
  background-color: transparent;
  z-index: 2;

  a {
    color: $white;
    text-decoration: none;
    font-size: 22px;
  }
}

.topnav.scrolled {
  background-color: $black;
}

.homeLogo {
  margin: 0;
  flex: 0 0 auto;

  img {
    max-width: 100%;
  }
}
.logo-title {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 70px;
  padding:5px;
}
h2.homeLogo {
  font-size: 1em;
}

// li#menu-item-62::after {
//   content: '\f002';
//   font-family: FontAwesome;
//   font-weight: normal;
//   font-style: normal;
//   margin:0px 0px 0px 10px;
//   text-decoration:none;
// }

@media screen and (min-width: $md ) {
  .homeLogo {
    max-width: 13em;
  }
  h2.homeLogo {
    font-size: 2em;
  }
}

.desktopNav {
  display: none;
  justify-content: space-between;

  ul {
    display: flex;
    align-self: flex-end;
    flex: 1 0 auto;
    justify-content: space-between;
    padding-left: 4em;
    margin-bottom: 0;

    li {
      list-style-type: none;
      padding-bottom: 1em;
    }
  }

  li ul {
    display: none;
    position: absolute;
    background-color: $black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 0;
    margin-top: 1em;
    margin-left: -15px;

    a {
      color: $white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  }

  li:hover > ul {
    display: block;
  }
}

@media screen and (min-width: $md ) {
  .desktopNav {
    display: flex;
    align-items: center;
  }
}

.menu {
    flex: 1 1 auto;
    max-width: 510px;
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a.icon {
    font-size: 23px;
  }
}

@media screen and (min-width: $md) {
  .mobileNav {
    display: none;
  }
}

.toggleNav {
  display: none;
  position: fixed;
  background-color: $black;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 3em;
  z-index: -1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin: 20px;
      text-align: right;
    }
  }

  li ul {
    display: none;
  }

  &.active {
    display: inline-block;
  }
}

// dropdown menu

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
