
.mobile-hero {
  display: block;
}
.desktop-hero {
  display: none;
}
.hero {
    // background-image: url("http://themelt.test/wp-content/uploads/2019/08/galaxy-sunflowers-crop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 94vh;
		display: flex;
		align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
.hero2 {
    // background-image: url("http://themelt.test/wp-content/uploads/2019/08/galaxy-sunflowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 800px;
		display: flex;
		align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

.hero2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .9); */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}
.hero-top {
  background-position: top center;
}

.hero-title {
  font-family: $serif1;
  color: #fff;
  font-size: 3em;
}

.hero-title-mobile {
  font-family: $serif1;
  color: #fff;
  font-size: 1.5em;
}

@media screen and (min-width: $sm) {
  .mobile-hero {
    display: none;
  }
  .desktop-hero {
    display: block;
  }
  // .hero {
  //   min-height: 75vh;
  // }
}

@media screen and (min-width: $lg ) {
  // .hero {
  //   min-height: 90vh;
  // }
}

@media screen and (max-width: $xs) {
  .homepage__hero {
    margin-top: 0;
  }
}
