.sq1-header {
  background-color: white;
  padding-top: 13em;
  padding-bottom: 16em;
  max-width: 49em;
  margin: auto;
}

.purpose {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: $darkblue;
  color: $white;

  p {
    max-width: 36em;
    margin: auto;
    font-size: 1.5em;
    border-bottom: 10px solid $grey;
    padding-bottom: 7em;
    padding-top: 3em;
    width: 90%;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .wp-block-column:first-child {
  background-color: $darkblue;
  margin-right: 0;
}

.about-img {
  max-width: 33em;
  margin: 5em auto;
  width: 90%;
}

.about-heading {
  border-bottom: 5px solid $darkblue;
  max-width: 16em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about-p {
  max-width: 42em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: $black;
}

.mission {
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  background-color: $white;
  color: $black;

  h2 {
    border-bottom: 5px solid $grey;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.5em;
  }
}

.consulting {
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: left;
  background-color: $darkblue;
  color: $white;

  h2 {
    border-bottom: 5px solid $grey;
    max-width: 500px;
  }

  p {
    font-size: 1.5em;
  }
  li {
    font-size: 1.5em;
  }
}

#services {
  border-bottom: 5px solid $grey;
  width: 275px;

  margin-top: 3em;
  margin-bottom: 1.5em;
}

.services {
  margin-bottom: 5em;
}

.quote {
  background-color: $yellow;
  color: $white;
}

.contact {
  padding-bottom: 0;
  text-align: center;
  background-color: $grey;
  color: $black;
  border-right: none;

  h2 {
    border-bottom: 5px solid $darkblue;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    color: $darkblue;
    padding-top: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  .contact-p {
    padding-top: 5em;
  }
}
.contact .wp-block-column:last-child {
  margin-top: 0;
  // border-right: 20px solid $yellow;
}

@media screen and (min-width: $sm ) {
  .contact {
    border-right: 20px solid $darkblue;
    padding-bottom: 4em;
  }
  .contact .wp-block-column:last-child {
    margin-top: 11em;
    border-right: none;
  }
}
