body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Raleway",sans-serif sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #2f2f2f;
  -webkit-font-smoothing: antialiased;
}

/* Gutenburg Overrides */
.wp-block-image img {
    max-width: 100%;
    min-height: 200px;
}

@media (min-width: 600px) {
  .wp-block-column {
      flex-basis: 100%!important;
  }
}

/* END Gutenburg Overrides */

.full-width-container {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.content-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.group-logo {
  text-align: center;
}

.align-center {
  text-align: center;
}

.p-2 {
  padding: 2em;
}

.pt-2 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-5 {
  padding-bottom: 5em;
}

.pl-2 {
  padding-left: 2em;
}

.pr-2 {
  padding-right: 2em;
}
