/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

h1 {
	font-size: 3em;
}

h2 {
  font-family: $sans1;
  font-size: 2.5em;
}

h3 {
  font-family: $sans1;
  font-size: 1.5em;
}

p {
  font-family: $sans1;
  font-size: 1em;
}
