

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

h1, .h1 {
	font-family: $sans1;
	font-size: 40px;
	color: $white;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
  font-family: $sans2;
  font-size: 34px;
	font-weight: 500;
	text-transform: uppercase;
}

h3 {
  font-family: $sans1;
  font-size: 24px;
	text-transform: uppercase;
	margin: .5em;
}

h4 {
	font-family: $sans2;
	font-size: 18px;
}
h4.related__posttitle {
    color: $white;
		text-align: center;
		padding-bottom: 40px;
}
.related__link {
	margin-bottom: 20px;
}

p, ol, li {
  font-family: $sans3;
  font-size: 16px;
  padding-left: .5em;
}

a {
	color: #79797C;
}

@media screen and (min-width: $sm ) {
	h1, .h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 34px;
	}
	p, ol, li {
		font-size: 20px;
	}
}

@media screen and (min-width: $md) {
	h1, .h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 60px;
	}
	h3 {
		font-size: 40px;
	}
	p, ol, li {
		margin-left: 3.5em;
	}
}
